---
layout: page
title: Projects
menu: main
permalink: /projects/
---

<script src="/js/main.js" type="text/javascript"></script>

<div class="container">
  {% for project in site.projects %}
    <div class="row">
      <div class="entry">
        <a href="{{project.url}}"></a>
        <div class="padded-content">
          <div class="title">
            {{project.title}}
          </div>
          {% if project.excerpt %}
          <div class="excerpt">
            {{ project.excerpt }}
          </div>
          {% endif %}
          <img src="{{ project.photo_url }}">
        </div>
      </div>
    </div>
  {% endfor %}
</div>
