---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <div class="container">
    {% for post in site.posts %}
      {% assign loopindex = forloop.index | modulo: 2 %}
      {% if loopindex == 1 %}
        <div class="row">
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          <div class="one-half column">
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </div>
      {% else %}
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          <div class="one-half column">
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
