---
layout: default
---

<script src="/js/main.js" type="text/javascript"></script>

<h1>Posts</h1>

<div class="container">
  {% for post in site.posts %}
    {% assign loopindex = forloop.index | modulo: 2 %}
    {% if loopindex == 1 %}
    <div class="row">
      <div class="one-half column entry">
        <a href="{{post.url}}"></a>
        <div class="padded-content">
          <div class="title">
            {{post.title}}
          </div>
          <div class="date">
            {{ post.date | date: '%B %d, %Y' }}
          </div>
          {% if post.excerpt %}
          <div class="excerpt">
            {{ post.excerpt }}
          </div>
          {% endif %}
          {% if post.photo_url %}
              <img src="{{ post.photo_url }}">
          {% endif %}
        </div>
      </div>
    {% else %}
      <div class="one-half column entry">
        <a href="{{post.url}}"></a>
        <div class="padded-content">
          <div class="title">
            {{post.title}}
          </div>
          <div class="date">
            {{ post.date | date: '%B %d, %Y' }}
          </div>
          {% if post.excerpt %}
          <div class="excerpt">
            {{ post.excerpt }}
          </div>
          {% endif %}
          {% if post.photo_url %}
              <img src="{{ post.photo_url }}">
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}
  {% endfor %}
</div>
