<label for="contrast">Toggle high-contrast colors for rendered dungeons</label>
<input type="checkbox" name="contrast" id="contrast" />

<style>
  :root {
    --rockColor: rgb(119, 116, 99);
    --floorColor: rgb(191, 191, 191);
    --doorColor: green;
  }
</style>

<script>
const root = document.querySelector(':root');
let contrast = false;

function toggle(contrast) {
  if (contrast) {
    root.style.setProperty('--rockColor', '#E69F00');
    root.style.setProperty('--doorColor', '#DC267F')
    root.style.setProperty('--floorColor', '#FFFFFF')
  } else {
    root.style.setProperty('--rockColor', 'rgb(119, 116, 99)');
    root.style.setProperty('--floorColor', 'rgb(191, 191, 191)');
    root.style.setProperty('--doorColor', 'green');
  }
}

document.querySelector('#contrast').addEventListener('click', (e) => {
  toggle(e.target.value);
})
</script>

<style>
  .cell.rock {
    background-color: var(--rockColor) !important;
  }
  .cell.door {
    background-color: var(--doorColor) !important;
  }
  .cell.floor {
    background-color: var(--floorColor) !important;
  }
</style>